<launch>
    <param name="global_example" value="global value" />

    <group ns = "foo">
        <param name="utterance" value="Hello World" />
        <param name="to_delete" value="Delete Me" />

        <group ns = "gains">
            <param name="P" value="1.0" />
            <param name="I" value="2.0" />
            <param name="D" value="3.0" />
        </group>

        <node pkg="parameters_in_rospy" name="param_talker" type="param_talker.py" output="screen">
            <param name="topic_name" value="chatter" />
        </node>
    </group>

</launch>

<!-- result
[INFO] [1698747722.069772]: /global_example is global value
[INFO] [1698747722.071204]: /foo/utterance is Hello World
[INFO] [1698747722.072506]: /foo/param_talker/topic_name is chatter
[INFO] [1698747722.073455]: /foo/default_param is default_value
[INFO] [1698747722.074360]: gains are 1.0 2.0 3.0
[INFO] [1698747722.075043]: check slash: /foo/P is 1.0
[INFO] [1698747722.075616]: setting parameters...
[INFO] [1698747722.077547]: ...parameters have been set
[INFO] [1698747722.078746]: deleted /foo/to_delete parameter
[INFO] [1698747722.079608]: found global_example parameter under key: /global_example
[INFO] [1698747722.080423]: Hello World
[INFO] [1698747723.082538]: Hello World
[foo/param_talker-2] killing on exit -->
