<!--Launch robot simulation for Rviz-->
<launch>
    <include file="$(find biibiii_gazebo)/launch/gazebo_simplemaze_world.launch" />

    <arg name="model" default="$(find biibiii_description)/urdf/robot.urdf.xacro"/>
    <arg name="map_file" default="$(find biibiii_navigation)/maps/map_simplemaze.yaml"/>
    <arg name="open_rviz" default="true"/>
    <arg name="move_forward_only" default="false"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" /> <!-- output="screen"-->

    <!-- AMCL -->
    <include file="$(find biibiii_navigation)/launch/amcl.launch"/>

    <!-- move_base -->
    <include file="$(find biibiii_navigation)/launch/move_base.launch">
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="true"
            args="-d $(find biibiii_navigation)/rviz/test_navigation.rviz" />
    </group>

</launch>