<?xml version="1.0"?>
<robot name="jms_robot" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Define color value-->
    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <material name="blue">
        <color rgba="0 0 1 1"/>
    </material>

    <material name="green">
        <color rgba="0 1 0 1"/>
    </material>

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <material name="669966">
        <color rgba="0.4 0.5961 0.4 1"/>
    </material>

    <material name="FFF6CE">
        <color rgba="1 0.9647 0.8078 1"/>
    </material>
    
</robot>