<launch>
    <param name="global_example" value="global value" />

    <group ns = "foo">
        <param name="utterance" value="Hello World" />
        <param name="to_delete" value="Delete Me" />

        <group ns = "gains">
            <param name="P" value="1.0" />
            <param name="I" value="2.0" />
            <param name="D" value="3.0" />
        </group>

        <node pkg="parameters_in_rospy" name="param_talker" type="param_talker.py" output="screen">
            <param name="topic_name" value="chatter" />
        </node>
    </group>

</launch>