<!-- Launch robot simulation for Gazebo -->
<launch>
    <param name="robot_description" command="$(find xacro)/xacro $(find jms_simulation_robot)/urdf/robot_rviz.urdf.xacro" />

    <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model jms_robot " />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true" />
    </include>

</launch>
